# jetbrains
.idea/

# deploy files
deploy/*.dockerfile

# log files
log/*

# doc files
doc/doc.json

# dependency bin
/bin/*
!/bin/ipfs_docker

# built files
_build
*/_build

# IPFS
_ipfs/

# mysql dev files
/datadir*
*_datadir

# grpc/protobuf
*.pb.go

# gomock
*__mock.go

# credential files
creds/*
*/creds
